.parent-div{
    padding: 2%;
    display: flex;
    justify-content: center;
}
.child-div{
    border: 1px solid rgb(218, 212, 212);
    background-color: #f2f2f2;
    padding: 2%;
    width: 40%;
}
.style-div{
    margin-top: 3%;
}