.row{
    margin-top: 150px;
    width: 100%;
}
.table{
    width: 100%;
}
th,td{
    border-bottom: 1px solid black;
}
td{
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
}
.input1{
    margin-left: 20%;
}
.input2{
    margin-left: 26%;
}