<!-- Navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular Forms Fields Validations</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Simple Form</a>
          </li>
          <li class="nav-item valid">
            <a class="nav-link" href="#">Validate on Submit</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Submit Flag</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Container form-->

  <div class="parent-div">
      <form #userSignUp ='ngForm' (ngSubmit)="saveUserData(userSignUp)">
      <div class="name-div">
          <label for="Name">Name</label><br>
          <input type="text" name="name" required pattern="[a-zA-Z]+( [A-Za-z]+)*" ngModel #name='ngModel'>
          <div *ngIf="name.touched && name.invalid">
            <h6 class="error-msg" *ngIf="name?.errors?.['required']">Please inform your name</h6>
            <h6 class="error-msg" *ngIf="name?.errors?.['pattern']">Please inform your valid name</h6>
          </div>
          
    
      </div>

      <div class="email-div">
        <label for="email">Email</label><br>
        <input type="email" name="email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" ngModel #email="ngModel">
        <div *ngIf="email.touched && email.invalid">
            <h6 class="error-msg" *ngIf="email?.errors?.['required']">Please inform your email</h6>
            <h6 class="error-msg" *ngIf="email?.errors?.['pattern']">Please inform your valid email address</h6>
          </div>
    </div>

    <div class="address-div">
        <div class="address1-div">
            <label for="address1">Address</label><br>
            <input type="text" name="address1" required ngModel #address1="ngModel">
            <h6 *ngIf="address1.touched && address1.invalid" class="error-msg">Please inform your address</h6>
        </div>

        <div class="address2-div">
            <label for="address2">Address 2</label><br>
            <input type="text" name="address2" required ngModel #address2="ngModel">
            <h6 *ngIf="address2.touched && address2.invalid" class="error-msg">Please inform your second address</h6>
        </div>

        <div class="zip-div">
            <label for="zip">Zip Code</label><br>
            <input type="number" name="zip" required ngModel #zip="ngModel">
            <h6 *ngIf="zip.touched && zip.invalid" class="error-msg">Please inform your zipCode</h6>
        </div>
    </div>

    <div class="city-details">
        <div class="city-div">
            <label for="city">City</label><br>
            <input type="text" name="city" required ngModel #city="ngModel">
            <h6 *ngIf="city.touched && city.invalid" class="error-msg">Please inform your city</h6>
        </div>

        <div class="state-div">
            <label for="city">State / Province / Region</label><br>
            <input type="text" name="state" required ngModel #state="ngModel">
            <h6 *ngIf="state.touched && state.invalid" class="error-msg">Please inform your state</h6>
        </div>

        <div class="country-div">
            <label for="city">Country</label><br>
            <input type="text" name="country" required ngModel #country="ngModel">
            <h6 *ngIf="country.touched && country.invalid" class="error-msg">Please inform your country</h6>
        </div>
    </div>

    <div class="btn">
        <div class="submit-btn">
            <button [disabled]="!userSignUp.valid" class=".sub-btn">Submit</button>
        </div>
        <div class="reset-btn">
            <input type="reset" value="Reset">
        </div>
    </div>

</form>
  </div>
