.socials-link{
    border: 1px solid snow;
    position: relative;
    bottom: 355px;
    width: 20%;
    background-color: white;
    margin-left: 90px;
    border-radius: 8px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    padding: 15px;
    border-bottom: 1px solid rgb(243, 232, 232);
}