<div class="socials-link">
    <table>
        <tr>
            <th><span><img src="assets/website.png" class="p-1" width="25%"></span>Website</th>
            <td>{{userSocialsData.website}}</td>
        </tr>

        <tr>
            <th><span><i class="fab fa-github fa-2x p-2"></i></span>Github</th>
            <td>{{userSocialsData.github}}</td>
        </tr>

        <tr>
            <th><span><i class="fab fa-twitter-square fa-2x p-2"></i></span>Twitter</th>
            <td>{{userSocialsData.twitter}}</td>
        </tr>

        <tr>
            <th><span><i class="fab fa-instagram fa-2x p-2"></i></span>Instagram</th>
            <td>{{userSocialsData.instagram}}</td>
        </tr>

        <tr>
            <th><span><i class="fab fa-facebook fa-2x p-2"></i></span>Facebook</th>
            <td>{{userSocialsData.facebook}}</td>
        </tr>
    </table>
</div>