
<div class="parent-div">

  <div class="navbar">
    <span class="form-heading">JobSearch</span> 
    <span class="domain">.com</span>
  </div>
  
  <div class="details">
    <h2>Create Your Account</h2>

    <p style="color: red;">*Required information</p>
  </div>

  <!--Basic Information-->

  <div class="basic-info">

    <div class="info-heading">
    <p style="margin-left: 8px;">Basic Information<p>
    </div>

    <div class="basic-info-form">

      <div class="form-style">

        <form [formGroup]="basicInfo">

          <div class="block">
            <label class="label-sz">Email<span style="color: red; margin-left: 4px;">*</span></label>
            <input class="inputbox-design" style="margin-left: 8px;" type="email" formControlName="email"><br>
            <span class="error-msg" *ngIf="email && email.touched && email.invalid">Enter valid Email address</span>
          </div>
  
          <br>

          <div class="block">
            <label class="label-sz">Password<span style="color: red;  margin-left: 4px;">*</span></label>
            <input class="inputbox-design" style="margin-left: 8px;"  type="password" formControlName="password"><br>
            <span class="error-msg" *ngIf="password && password.touched && password.invalid">Enter valid password</span>
          </div>

          <br>

          <div class="block">
            <label class="label-sz">Retype Password<span style="color: red; margin-left: 4px;">*</span></label>
            <input class="inputbox-design" style="margin-left: 8px;" type="password" formControlName="reTypePassword"><br>
            <span class="error-msg" *ngIf="reTypePassword && reTypePassword.touched && reTypePassword.invalid">Enter valid password</span>
          </div>

          <br>

          <div class="block">
            <label class="label-sz">First Name<span style="color: red;  margin-left: 4px;">*</span></label>
            <input class="inputbox-design" style="margin-left: 8px;" type="text" formControlName="firstName"><br>
            <span class="error-msg" *ngIf="firstName && firstName.touched && firstName.invalid">Enter valid first Name</span>
          </div>

          <br>

          <div class="block">
            <label class="label-sz">Last Name<span style="color: red; margin-left: 4px;">*</span></label>
            <input class="inputbox-design" style="margin-left: 8px;" type="text" formControlName="lastName"><br>
            <span class="error-msg" *ngIf="lastName && lastName.touched && lastName.invalid">Enter valid last Name</span>
          </div>

          <br>

          <div class="block">
            <label class="label-sz">Phone Number<span style="color: red; margin-left: 4px;">*</span></label>
            <input class="inputbox-design" type="tel" style="margin-left: 8px;" formControlName="phoneNumber"><br>
            <span class="error-msg" *ngIf="phoneNumber && phoneNumber.touched && phoneNumber.invalid">Enter valid Number</span>
          </div>

          <br>

          <div class="block">
            <label class="label-sz">Address<span style="color: red;  margin-left: 4px;">*</span></label>
            <input class="inputbox-design" style="margin-left: 8px;" type="address" formControlName="address"><br>
            <span class="error-msg" *ngIf="address && address.touched && address.invalid">Enter valid Address</span>
          </div>

          <br>

          <div class="block">
            <label class="label-sz">City<span style="color: red;  margin-left: 4px;">*</span></label>
            <input class="inputbox-design" style="margin-left: 8px;" type="text" formControlName="city"><br>
            <span class="error-msg" *ngIf="city && city.touched && city.invalid">Enter valid City</span>
          </div>

          <br>

          <div class="block">
            <label class="label-sz">Province<span style="color: red;  margin-left: 4px;">*</span></label>
            <select style="margin-left: 8px;" name="province" id="province" formControlName="province">
              <option value="alberta" selected>Alberta</option>
              <option value="Gandaki Pradesh">Gandaki Pradesh</option>
              <option value="	Karnali Pradesh">	Karnali Pradesh</option>
              <span class="error-msg" *ngIf="province && province.touched && province.invalid">Enter valid province</span>
            </select>
          </div>

          <br>

          
          <div class="country">
            <label class="label-sz">Country<span style="color: red;  margin-left: 4px;">*</span></label>
            <input class="inputbox-design" style="margin-left: 8px;" type="address" formControlName="country"><br>
            <span class="error-msg" *ngIf="country && country.touched && country.invalid">Enter valid Country</span>
          </div>

          </form>

      </div>
    
    </div>

    </div>

    <!--Education Information-->

    <div class="education-info">

      <div class="info-heading">
      <p style="margin-left: 8px;">Education<p>
      </div>
  
      <div class="basic-info-form">
  
        <div class="form-style">
  
          <form [formGroup]="educationInfo">
  
            <div class="block">
              <label class="label-sz">School<span style="color: red;  margin-left: 4px;">*</span></label>
              <input class="inputbox-design" style="margin-left: 8px;" type="text" formControlName="school"><br>
              <span class="error-msg" *ngIf="school && school.touched && school.invalid">Enter valid School</span>

            </div>
    
            <br>
  
            <div class="block">
              <label class="label-sz">Program<span style="color: red;  margin-left: 4px;">*</span></label>
              <input class="inputbox-design" style="margin-left: 8px;"  type="text"  formControlName="program"><br>
              <span class="error-msg" *ngIf="program && program.touched && program.invalid">Enter valid Program</span>
            </div>
  
            <br>
  
  
            <div class="block">
              <label class="label-sz">Education Level<span style="color: red;  margin-left: 4px;">*</span></label>
              <select style="margin-left: 8px;" name="edu" id="edu" formControlName="educationLevel">
                <option value="">-select-</option>
                <option value="Gandaki Pradesh">Gandaki Pradesh</option>
                <option value="	Karnali Pradesh">	Karnali Pradesh</option>
              </select>
            </div>
  
            <br>

            <div class="radio-btn">
              <fieldset>
                <legend>Education Status</legend>

                <input type="radio" class="radio-style" name="edu-status" formControlName="educationStatus"><span class="label-sz">Graduated</span><br>
                <input type="radio" name="edu-status" formControlName="educationStatus"><span class="label-sz">Current Graduate</span><br>
                <input type="radio" name="edu-status"  formControlName="educationStatus"><span class="label-sz">Did Not Graduate</span><br>
              </fieldset>

            </div>

            <br>
  
            <div class="date">
              <label class="label-sz">Graduation Date</label>
              <input class="inputbox-design" style="margin-left: 8px;"  type="date"  formControlName="date">
            </div>
  
          </form>
  
        </div>
      
      </div>
    
  </div>

  <!--Work Experience-->

  
  <div class="workExperience-info">

    <div class="info-heading">
    <p style="margin-left: 8px;">Work Experience<p>
    </div>

    <div class="basic-info-form">

      <div class="form-style">

        <form [formGroup]="workExperience">

          <div class="block">
            <label class="label-sz">Employer:</label>
            <input class="inputbox-design" style="margin-left: 8px;" type="text" formControlName="employer">
          </div>
  
          <br>

          <div class="block">
            <label class="label-sz">Job Title:</label>
            <input class="inputbox-design" style="margin-left: 8px;"  type="text"  formControlName="jobTitle">
          </div>

          <br>


          <div class="block text">
          <label class="label-sz">Job Duty:</label>
          <textarea style="margin-left: 10px;" rows="8" cols="79" formControlName="jobDuty"></textarea>
          </div>

          <br>

          <div class="year">
            <label class="label-sz">Worked Year:</label>
            <input class="inputbox-design" type="number"  formControlName="workedYear">
          </div>

        </form>

      </div>
    
    </div>
  
</div>

<!--Attachments-->

<div class="attachments-info">

  <div class="info-heading">
  <p style="margin-left: 8px;">Attachments<p>
  </div>

  <div class="basic-info-form">

    <div class="form-style">

      <form [formGroup]="attachment">

        <div class="year">
          <label class="label-sz">Attachments:</label>
          <input class="inputbox-design" type="file" formControlName="file">
        </div>

      </form>

    </div>
  
  </div>

</div>

<div class="btn">
  <input type="reset" class="reset" name="reset">
  <input type="Submit" class="apply" value="Apply">
</div>

</div>

<div class="footer">
  <div class="child-div">
    <h2>Noida &copy; India</h2>
  </div>
</div>

