<div class="socials-link">
    <table>
        <tr>
            <th><span><img src="assets/website.png" class="p-1" width="25%"></span>Website</th>
            <td>https://bootdey.com</td>
        </tr>

        <tr>
            <th><span><i class="fab fa-github fa-2x p-1"></i></span>Github</th>
            <td>bootdey</td>
        </tr>

        <tr>
            <th><span><i class="fab fa-twitter-square fa-2x p-1"></i></span>Twitter</th>
            <td>@bootdey</td>
        </tr>

        <tr>
            <th><span><i class="fab fa-instagram fa-2x p-1"></i></span>Instagram</th>
            <td>bootdey</td>
        </tr>

        <tr>
            <th><span><i class="fab fa-facebook fa-2x p-1"></i></span>Facebook</th>
            <td>bootdey</td>
        </tr>
    </table>
</div>