<div class="jumbotron jumbotron-fluid pt-div">
  <div class="container">
    <h1 class="display-4">About Page!</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque in
      molestias obcaecati hic consequuntur recusandae consectetur blanditiis
      ipsum magnam saepe maiores voluptatum inventore, expedita, eos fugiat
      ullam assumenda eaque..
    </p>
    <hr class="my-4" />
  </div>
</div>


    <div class="parent-div">
      <div class="card" style="width: 18rem">
        <img src="assets/about-me.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="about-me" class="btn btn-primary">Know More</a>
        </div>
      </div>
  
      <div class="card" style="width: 18rem" class="style-div">
        <img src="assets/img1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">About Company</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="about-company" class="btn btn-primary">Know More</a>
        </div>
      </div>

      
      <div class="card" style="width: 18rem" class="style-div">
        <img src="assets/img2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">About Our Clients</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="about-clients" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  


<!-- We provide services to user where they can get weather details on entering their city name which uses openweather API 
  We provide digital clock too which displays time and updates each seconds. -->
