.header{
    padding: 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration: none;
}
.nav-list{
    background-color: rgb(233, 236, 239);
    width: 80%;
    margin-left: 80px;
    padding: 20px;
}
ul li a{
    padding: 5px;
} 
.profile-section{
    border: 1px solid snow;
    background-color: snow;
    padding: 10px;
    width: 25%;
    height: 50%;
    text-align: center;
    margin-left: 90px;
    margin-top: 20px;
}
.profile-section img{
    width: 20%;
}
.profile-section p{
    font-size: 22px;
    line-height: 2vh;
    font-weight: 300;
}
.button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .follow-btn{
      background-color: blue;
      color: white;
      border-radius: 6px;
  }
  .msg-btn{
      border: 1px solid blue;
      background: white;
      color: blue;
      border-radius: 6px;
  }
  .parent-div{
      border: 1px solid snow;
      padding: 2px;
      width: 30%;
  }
  .socials-details{
      width: 25%;
      border: 1px solid snow;
      margin-left: 90px;
      margin-top: 20px;
      background: white;
      height: 50%;
  }
  .socials-details table{
      width: 100%;
  }
  th,td{
      border-bottom: 1px solid black;
      border-collapse: collapse;
  }
  table tr th{
      width: 70%;
  } 
  table tr td{
      text-align: right;
  }
  .details-section{
      position: relative;
      left: 580px;
      bottom: 533px;
      border: 1px solid snow;
      width: 54%;
      background-color: white;
      padding: 60px;
  }
  .details-section table{
      width: 100%;
  }
  .details-section table tr td{
      text-align: left;
  }
  .project-status1{
      position: relative;
      left: 580px;
      bottom: 525px;
      border: 1px solid snow;
      width: 26%;
      background-color: white;
      padding: 10px;
  }