<div class="header">
    <div class="nav-list">
        <ul>
            <li><a href="#" style="color: blue;">Home</a></li>
            <span>/</span>
            <li><a href="#" style="color: blue;">User</a></li>
            <span>/</span>
            <li><a href="#" style="color: black;">User Profile</a></li>
        </ul>
    </div>
</div>


<div class="profile-section">
    <img src="assets/profile.jfif" alt="profile-img">

    <h1>John Doe</h1>

    <p>Full Stack Developer</p>

    <p>Bay Area San Francisco, CA</p>

    <div class="btn">
     <button class="button follow-btn">Follow</button>
     <button class="button msg-btn">Message</button>
    </div>
 </div>

 <div class="socials-details">
     <table>
         <tr>
             <th><span><img class="p-1" src="assets/website.png" width="15%"></span>Website</th>
             <td>https://bootdey.com</td>
         </tr>

         <tr>
            <th><span><i class="fab fa-github fa-2x p-1"></i></span>Github</th>
            <td>bootdey</td>
        </tr>
        <tr>
            <th><span><i class="fab fa-twitter-square fa-2x p-1"></i></span>Twitter</th>
            <td>@bootdey</td>
        </tr>
        <tr>
            <th><span><i class="fab fa-instagram fa-2x p-1"></i></span>Instagram</th>
            <td>bootdey</td>
        </tr>
        <tr>
            <th><span><i class="fab fa-facebook fa-2x p-1"></i></span>Facebook</th>
            <td>bootdey</td>
        </tr>
     </table>
 </div>

 <div class="details-section">
     <table>
         <tr>
             <th>Full Name</th>
             <td>Kenneth Valdez</td>
         </tr>
         <tr>
            <th>Email</th>
            <td>fip@jukmuh.al</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>(239) 816-9029</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>(320) 380-4539</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>Bay Area, San Francisco,CA</td>
        </tr>
     </table>
 </div>

 <div class="project-status1">
   <span class="assign" style="color: green;">assignment</span>
   <span>Project Status</span>

   <p class="mt-2">Web Design</p>
   <div class="progress">
    <div class="progress-bar bg-blue" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="80"></div>
  </div>

  <p>Website Markup</p>
  <div class="progress">
    <div class="progress-bar bg-blue" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="80"></div>
  </div>

  <p>One Page</p>
  <div class="progress">
    <div class="progress-bar bg-blue" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="80"></div>
  </div>

  <p>Mobile Template</p>
  <div class="progress">
    <div class="progress-bar bg-blue" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="80"></div>
  </div>

  <p>Backend API</p>
  <div class="progress">
    <div class="progress-bar bg-blue" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="80"></div>
  </div>

</div>

