<div class="project2">

    <div class="mb-2 assign">
        <span class="p-3 title">assignment</span>
        <span class="heading">Project Status</span>
    </div>

    <div class="prog-bar">

    <span class="heading">{{progressBarLabels.label1}}</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="progressBarLabels.width1"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
    <span class="heading">{{progressBarLabels.label2}}</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="progressBarLabels.width2" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
    <span class="heading">{{progressBarLabels.label3}}</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="progressBarLabels.width3" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
    <span class="heading">{{progressBarLabels.label4}}</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="progressBarLabels.width4" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
    <span class="heading">{{progressBarLabels.label5}}</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="progressBarLabels.width5" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

</div>