<div class="user-details">
    <table>
        <tr>
            <th>Full Name</th>
            <td>{{userDetailsData.fullName}}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{userDetailsData.email}}</td>
        </tr>

        <tr>
            <th>Phone</th>
            <td>{{userDetailsData.phone}}</td>
        </tr>

        <tr>
            <th>Mobile</th>
            <td>{{userDetailsData.mobile}}</td>
        </tr>

        <tr>
            <th>Address</th>
            <td>{{userDetailsData.address}}</td>
        </tr>
    </table>
</div>