<div class="header">
    <div class="nav-list">
        <ul>
            <li><a href="#" style="color: blue;">Home</a></li>
            <span>/</span>
            <li><a href="#" style="color: blue;">User</a></li>
            <span>/</span>
            <li><a href="#" style="color: black;">User Profile</a></li>
        </ul>
    </div>
</div>

<app-home></app-home>

<app-user></app-user>

<app-user-profile></app-user-profile>

<app-project-status1></app-project-status1>

<app-project-status2></app-project-status2>


