<div class="project1" id="myElement">

    <div class="mb-2">
        <span class="p-3 title">assignment</span>
        <span class="heading">Project Status</span>
    </div>

    <div class="prog-bar">

    <span class="heading">Web Design</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
    <span class="heading">Website Markup</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
    <span class="heading">One Page</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
    <span class="heading">Mobile Template</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
    <span class="heading">Backend API</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 68%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

</div>
