<div class="user-details">
        <table>
            <tr>
                <th>Full Name</th>
                <td>Kenneth Valdez</td>
            </tr>
    
            <tr>
                <th>Email</th>
                <td>fip@jukmuh.al</td>
            </tr>
    
            <tr>
                <th>Phone</th>
                <td>(239) 816-9029</td>
            </tr>
    
            <tr>
                <th>Mobile</th>
                <td>(320) 380-4539</td>
            </tr>
    
            <tr>
                <th>Address</th>
                <td>Bay Area San Francisco, CA</td>
            </tr>
        </table>
    </div>